<div class="container">
    <nav>
        <a routerLink="/customergeosearch">Customer Geo Search</a>
    </nav>
    <div class="form-group">
        <label for="nameSearch">Search by Name</label>
        <input id="nameSearch" [(ngModel)]="searchParam" placeholder="Name..." class="form-control"/>
        <button (click)="search()" class="btn btn-default">Search</button>
    </div>

    <div class="form-group">
        <div class="strong">Geo Search </div>
        <label for="longitude">Longitude</label>
        <input id="longitude" [(ngModel)]="longitudeParam" placeholder="Longitude in decimal format" class="form-control"/>
        <label for="latitude">Latitude</label>
        <input id="latitude" [(ngModel)]="latitudeParam" placeholder="Latitude in decimal format" class="form-control"/>
        <label for="radius">Radius</label>
        <input id="radius" [(ngModel)]="radiusParam" placeholder="Radius in meter" class="form-control"/>
        <button (click)="geoSearch()" class="btn btn-default">Search</button>
    </div>


    <div *ngIf="customers">
        <h2>Customers</h2>
        <div *ngFor="let customer of customers" (click)="gotoDetail(customer)">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2">{{customer.givenName}}</div>
                    <div class="col-md-2">{{customer.surname}}</div>
                    <div class="col-md-4">{{customer.streetAddress}}</div>
                    <div class="col-md-1">{{customer.zipCode}}</div>
                    <div class="col-md-2">{{customer.city}}</div>
                    <div class="col-md-1">{{customer.id}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
