<div class="row">
    <div class="col-md-4">
        <strong>{{ favorite.title }}</strong>
    </div>
    <div class="col-md-4">
        {{ favorite.brand }}
    </div>
    <div class="col-md-4" align="right">
        <span class="glyphicon glyphicon-blog"></span> {{ favorite.category }}
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        Purchase Date: {{ favorite.purchaseDate }}
    </div>
    <div class="col-md-4">
        Price: {{ favorite.price.currency }} {{ favorite.price.value }}
    </div>
    <div class="col-md-4">
        Current Price ({{ favorite.currentPrice.date }}): {{ favorite.currentPrice.currency }} {{ favorite.currentPrice.value }}
    </div>
</div>
